spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/flowdb
    username: pick
    password: 1155
    driver-class-name: org.postgresql.Driver
    hikari:
      max-lifetime: 1800000
      idle-timeout: 600000
      validation-timeout: 5000
      connection-test-query: SELECT 1
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      max-lifetime: 1800000
      idle-timeout: 600000
      validation-timeout: 5000
      connection-test-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
